<a href="https://colab.research.google.com/github/Kzis/map_reduce/blob/master/map_reduce2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:

import collections

text = """one two three four five six seven eight nine ten
1 2 3 4 5 6 7 8 9 10
a b c d e f g h i j
"""

for line in text.splitlines():
  words = line.split()
  words2 = collections.deque(words)
  words2.rotate(1)

  collection = list(map(lambda a , b: a+" "+b ,list(words2), words))
  del collection[0]

  print(collection)

['one two', 'two three', 'three four', 'four five', 'five six', 'six seven', 'seven eight', 'eight nine', 'nine ten']
['1 2', '2 3', '3 4', '4 5', '5 6', '6 7', '7 8', '8 9', '9 10']
['a b', 'b c', 'c d', 'd e', 'e f', 'f g', 'g h', 'h i', 'i j']

In [22]:
import csv

line = []

with open('test2.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter='\n')
    for row in csv_reader:
        line.append(row[0])
        
print(line)

['one two three four five six seven eight nine ten', '1 2 3 4 5 6 7 8 9 10', 'a b c d e f g h i j', '1 2 c d e f four five six seven']

In [0]:
map_list = []
def mapper(all_data):
  for line in all_data:
    
    words = line.split()
    words2 = collections.deque(words)
    words2.rotate(1)

    words = list(map(lambda a , b: a+" "+b ,list(words2), words))
    del words[0]
    
    for word in words: 
        print('{}\t{}'.format(word, "1"))
        map_list.append('{}\t{}'.format(word, "1"))

In [24]:
mapper(line)

one two	1
two three	1
three four	1
four five	1
five six	1
six seven	1
seven eight	1
eight nine	1
nine ten	1
1 2	1
2 3	1
3 4	1
4 5	1
5 6	1
6 7	1
7 8	1
8 9	1
9 10	1
a b	1
b c	1
c d	1
d e	1
e f	1
f g	1
g h	1
h i	1
i j	1
1 2	1
2 c	1
c d	1
d e	1
e f	1
f four	1
four five	1
five six	1
six seven	1