<a href="https://colab.research.google.com/github/Kzis/map_reduce/blob/master/spark_mapreduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [0]:
!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz

In [0]:
!tar xf spark-2.4.3-bin-hadoop2.7.tgz

In [0]:
!pip install -q findspark

In [0]:

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.3-bin-hadoop2.7"

In [0]:
import findspark
findspark.init('/content/spark-2.4.3-bin-hadoop2.7')

from pyspark.sql import SparkSession
from pyspark import SparkContext

spark = SparkSession.builder.master("local").getOrCreate()
sc = SparkContext.getOrCreate()

In [10]:
list1 = ["1 1 1 2 2 2 3 3 3 4 5 6"]
rdd = sc.parallelize(list1)

wc = rdd.flatMap(lambda line: line.split(" "))
print(wc.collect())

words = wc.map(lambda word: (word, 1))

counts = words.reduceByKey(lambda a, b: a + b)

print(counts.collect())

['1', '1', '1', '2', '2', '2', '3', '3', '3', '4', '5', '6']
[('1', 3), ('2', 3), ('3', 3), ('4', 1), ('5', 1), ('6', 1)]

In [12]:
map_list = mapper(list1)
print(map_list)

['1 1', '1 1', '1 2', '2 2', '2 2', '2 3', '3 3', '3 3', '3 4', '4 5', '5 6']